<div id="container">
  <div id="game-container">
    <h1>{{ word }}</h1>
    <h1>Time: {{ time }}</h1>
    <h1>Point: {{ point }}</h1>
    <input type="text" [(ngModel)]="userInput" #userInputElement />
  </div>
  <div id="keyboard">
    @for (row of buttons; track $index) {
    @if ($index == 0) {
    <div id="top">
      @for (letter of row.top; track $index) {
        <button [class.pressed]="keyPressed === letter" (click)="handleVirtualKeyPress(letter)">
          {{ letter }}
        </button>
      }
    </div>
    }@else if ($index == 1) {
    <div id="middle">
      @for (letter of row.middle; track $index) {
        <button [class.pressed]="keyPressed === letter" (click)="handleVirtualKeyPress(letter)">
          {{ letter }}
        </button>
      }
    </div>
    } @else {
    <div id="bottom">
      @for (letter of row.bottom; track $index) {
        <button [class.pressed]="keyPressed === letter" (click)="handleVirtualKeyPress(letter)">
          {{ letter }}
        </button>
      }
    </div>
    }
    }
  </div>
</div>
